$red: #D12327;
$orange: #F15824;
$yellow: #FBA919;
$y-green: #76C154;
$green: #14A25E;
$blue: #3F4FA2;
$white: #fff;
$black: #000;


.wp-block-button__link:hover {
	filter: brightness(95%);
}

.home-hero{
	position: relative;
		
	.right-border{
		position: absolute;
		right: 0;
	}

	.home-hero-star{
		position: absolute;
		left: 0;
		bottom: 0px;
	}

	
}


.wordcamp-sponsors li.wordcamp-post-list__post{
	display: flex;
	align-items: center;
	aspect-ratio: 1/1;
	height: 250px;
	background: $white;
    padding: 10px;
}

/*Tablet*/
@media screen and (max-width: 1072px) {
	/*Header*/
	header {
        .wp-block-group {
		justify-content: center;
	}
    }
	
	/*Main*/
	main {
        div.wp-block-group {
			//padding: 20px 20px;
		}
	}


}

//WP-tablet
@media screen and (max-width: 1072px) {
	/*Header*/
	header {
        .wp-block-group {
		justify-content: center;
	}
    }
	
	/*Main*/
	main {
        div.wp-block-group {
			//padding: 20px 20px;
		}
	}


}

/*Mobile*/
@media screen and (max-width: 600px) {
/*Header*/
	/*Header*/
	header {
        .wp-block-group {
		justify-content: space-between;
	}
    }
	.home-hero{

		.right-border{
			display: none;
		}
		
	}
}

@media screen and (max-width: 600px) {
	/*Header*/
		/*Header*/
		header {
			.wp-block-group {
			justify-content: space-between;
		}
		}
		.home-hero{
	
			.right-border{
				display: none;
			}
			
		}
	}