$red: #D12327;
$orange: #F15824;
$yellow: #FBA919;
$y-green: #76C154;
$green: #14A25E;
$blue: #3F4FA2;
$white: #fff;
$black: #000;

@mixin mobile-column{
	flex-direction: column;
	align-items: flex-start;
}

@mixin mobile-column-reverse{
	flex-direction: column-reverse;
}

main.wp-block-group{
	margin-block-start: 0 !important;
}

.wp-site-blocks {
	padding-top: 0;
	padding-bottom: 0;
}

h2.wp-block-heading {
	font-size: clamp(2.5rem,2.5rem + (1vw - .48rem)*1.592,3rem);
	color: $yellow;
	font-family: var(--wp--preset--font-family--young-serif)!important;
	line-height: 1.16;
	font-weight: 400;
}

h3.wp-block-heading {
	font-size: clamp(1.75rem,1.75rem + (1vw - .48rem)*1.592,2rem);
	color: $orange;
	font-family: var(--wp--preset--font-family--young-serif)!important;
	line-height: 1.2;
}

h4.wp-block-heading {
	font-size: clamp(1.5rem,1.5rem + (1vw - .48rem)*1.592,1.75rem);
	color: $red;
	font-family: var(--wp--preset--font-family--young-serif)!important;
	line-height: 1.25;
}

h5.wp-block-heading {
	font-size: clamp(1.2rem,1.2rem + (1vw - .48rem)*1.592,1.5rem);
	color: $green;
	font-family: var(--wp--preset--font-family--young-serif)!important;
	line-height: 1.4;
}

h6.wp-block-heading {
	font-size: clamp(1.1rem,1.1rem + (1vw - .48rem)*1.592,1.2rem);
	font-family: var(--wp--preset--font-family--young-serif)!important;
	color: $blue;
}

h5.wp-block-heading,h6.wp-block-heading {
	text-transform: none;
}

.home-hero{
	position: relative;
		
	.right-border{
		position: absolute;
		right: 0;
	}

	.home-hero-star{
		position: absolute;
		left: 0;
		bottom: 0px;
	}

	
}

.page-id-161 .wordcamp-sponsors{
	align-items: center;
	padding-inline-start: 0;

}

.wordcamp-post-list.wordcamp-post-list{
	padding: 0;
}

.wp-block-button__link:hover {
	filter: brightness(95%);
}

.wp-block-navigation-item__content{
	font-family: var(--wp--preset--font-family--questrial)!important;
}


li.wcb_sponsor{
	display: flex;
    width: 100%;
    aspect-ratio: 4 / 2;
    margin: 10px;
    background: #fff;
    justify-content: center;

	figure{
		padding: 20px;
		margin: 0;
	}

}

.wcc2024-blog-post{
	
	li.wp-block-post{
		background-color: $white;
		border-radius: 10px;

		.wp-block-group{
			padding: 3rem 1.5rem;
		}
	}
} 
.wcc2024-home-faqs{
	.wcc2024-home-faqs-graphic-1{
		position: absolute;
		top: 0;
	}
	
	.wcc2024-home-faqs-graphic-2{
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.wcc2024-home-faqs-title{
		z-index: 999;
	}

	.wcc2024-home-faqs-block{
		width: 100%;
		z-index: 999;
	}
}

.wcc2024-inner-title{
	background-repeat: repeat-x !important;
	min-height: 250px;
}

.contact-form .grunion-field-wrap input.radio{
	border: 2px solid $white !important;

	&:before{
		background-color: $white !important;
	}
}

div.tix-js{
	form{
		p{
			input[type="submit"]{
				width: 50%;
				padding: 15px 30px;
				background-color: $yellow;
				color: $black;
				font-family: var(--wp--preset--font-family--questrial);
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
}

table.tix_tickets_table.tix-tickets-list{
	text-align: left;
	width: 100%;

	th, td{
		padding-bottom: 20px;
	}

	tr.tix-ticket-749 th.tix-column-description label.tix-ticket-title, tr.tix-ticket-748 th.tix-column-description label.tix-ticket-title, tr.tix-ticket-746 th.tix-column-description label.tix-ticket-title, tr.tix-ticket-1325 th.tix-column-description label.tix-ticket-title{
		font-size: clamp(1.2rem,1.2rem + (1vw - .48rem)*1.592,1.5rem);
		font-family: var(--wp--preset--font-family--young-serif)!important;
		line-height: 1.4;
	}
	
	tr.tix-ticket-749 th.tix-column-description label.tix-ticket-title{
		color: $blue;
	}
	tr.tix-ticket-748 th.tix-column-description label.tix-ticket-title{
		color: $green;
	}
	tr.tix-ticket-746 th.tix-column-description label.tix-ticket-title{
		color: $yellow;
	}
	tr.tix-ticket-1325 th.tix-column-description label.tix-ticket-title{
		color: $orange;
	}

	th.tix-column-price, td.tix-column-price{
		display: none;
	}

	th.tix-column-quantity, td.tix-column-quantity{
		text-align: right !important;
	}

	select{
		padding: 10px;
		border-radius: 5px;
		font-family: var(--wp--preset--font-family--questrial);
		font-size: var(--wp--preset--font-size--medium);
		font-style: normal;
		font-weight: 400;
		line-height: 1.55;

		option{
			padding: 10px;
		}
	}
}

table.tix_tickets_table.tix-order-summary{
	text-align: left;
	width: 100%;

	th, td{
		padding-bottom: 20px;
	}

	td.tix-column-description {
		font-size: clamp(1.2rem,1.2rem + (1vw - .48rem)*1.592,1.5rem);
		font-family: var(--wp--preset--font-family--young-serif)!important;
		line-height: 1.4;
	}

	tr.tix-row-total{
		td:nth-child(2){
			text-align: right !important;
			padding: 10px;
			background-color: $yellow;
			color: $black;
		}
	}

	th.tix-column-price, td.tix-column-price{
		text-align: right !important;
		padding-right: 10px;
	}

}

table.tix_tickets_table.tix-attendee-form{
	tr{
		
		td{
			padding: 15px 0px;
		}
		td.tix-right, td.tix-left{
			width: 50% !important;

		}

		td.tix-right{
			padding-left: 30px;
			input[type="text"], input[type="email"]{
				width: 100% !important;
				padding: 10px;
			}

			fieldset.tix-screen-reader-fieldset{

			}
		}
	}

}

div.tix-submit{

	.tix-payment-method {
		button{
			color: $white;
		}
		.tix-payment-tab{
			border-color: $white;
		}
	}	

	.tix-payment-method-container {
		.tix-alternate-payment-option label{
			color: $white !important;
		}
	}	

	input[type="submit"]{
		width: 50%;
		padding: 15px 30px;
		background-color: $yellow;
		color: $black;
		font-family: var(--wp--preset--font-family--questrial);
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
}

span.wordcamp-schedule__column-header{
	background-color: $yellow !important;
	color: $black;
}

footer {
	h2{
	color: $white;
	}
	.footer-hide{
		display: none !important;
	}

}


/*Tablet*/
@media screen and (max-width: 1072px) {
	/*Header*/
	header {
        .wp-block-group {
		justify-content: center;
	}
    }
	
	/*Main*/
	main {
        div.wp-block-group {
			//padding: 20px 20px;
		}
	}

	.home-hero{

		.right-border{
			opacity: 20%;
		}
		
	}

	.wcc2024-home-about{
		@include mobile-column;
		.wcc2024-home-about-img1{
			display: none;
		}
	}

	.wcc2024-home-expect-reverse{
		@include mobile-column-reverse;
	}

	.wcc2024-home-expect{
		@include mobile-column;
	}

	.wcc2024-inner-title{
		min-height: 200px;
	}
}

/*Mobile*/
@media screen and (max-width: 600px) {
/*Header*/
	/*Header*/
	header {
        .wp-block-group {
			justify-content: space-between;
		}
    }
	.home-hero{

		.right-border, .home-hero-star{
			display: none;
		}

		
	}

	.wcc2024-inner-title{
		min-height: 180px;
	}

	li.wcb_sponsor{
		width: 280px;
	}

}
